<!--<div fxFlex="row"  fxLayoutAlign="center center">-->
<!--  <div class="img-icon" >-->
<!--    <button mat-icon-button>-->
<!--      <mat-icon id="search" matTooltip="Search">search</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div id="search-text-div" fxLayoutAlign="end end">-->
<!--    <input id="search-input" type="text" placeholder="Search..."/>-->
<!--  </div>-->
<!--</div>-->


<div fxFlex="row" fxLayoutAlign="center center">

  <button mat-icon-button class="img-icon">
    <mat-icon id="search" matTooltip="Search">search</mat-icon>
  </button>

  <div id="search-text-div" fxLayoutAlign="end end">
    <input id="search-input" type="text" placeholder="Search..."/>
  </div>
</div>
