<div class="main-div" fxLayout="column" style="padding-top: 30px">
  <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px"
       style="justify-content: center;padding: 0px 30px 10px 30px">
    <div *ngFor="let note of searchList" style="justify-content: center">
      <app-note [note]="note" [noteType]="noteType"></app-note>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(215,220,227,0.31)"
  size="medium"
  color="#031254"
  type="square-jelly-box"
  fullScreen="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
