<mat-toolbar class="main-div" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="first-mat-tool-element">

    <button mat-icon-button>
      <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
    </button>
    <img alt="google-keep-logo" class="google-keep-logo" src="../../../assets/google-keep-icon.svg">
    <span fxHide.xs class="message-text">{{message}}</span>
  </div>

  <div class="search" fxLayout="row" fxFlex="50">
    <div class="img-icon" fxLayoutAlign="center center">
      <button mat-icon-button>
        <mat-icon id="search" matTooltip="Search">search</mat-icon>
      </button>
    </div>
    <div id="search-text-div" fxLayoutAlign="end end">
      <input id="search-input" type="text" placeholder="Search..."/>
    </div>
  </div>

  <div class="last-toolbar">
    <!-- refresh button -->
    <button mat-icon-button *ngIf="isRefresh" (click)="refresh()" id="refresh" matTooltip="refresh">
      <mat-icon id="refresh">refresh</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isRefresh" (click)="refresh()" matTooltip="refresh done">
      <img src="../../../assets/cloud_done-24px%20(1).svg">
    </button>

    <button fxHide.xs="100" mat-icon-button color="basic" id="grid" matTooltip="Grid view">
      <mat-icon id="gridlist">
        <img *ngIf="isGrid" src="../../../assets/outline-view_agenda-24px.svg" (click)="grid()">
        <img *ngIf="!isGrid" src="../../../assets/fourgrid.svg" (click)="grid()">
      </mat-icon>
    </button>
    <button mat-mini-fab
            [ngStyle]="{'background-image':'url(' +'../../../assets/avatar.PNG'+ ')','background-size':'cover','margin':'10px'}"
            [matMenuTriggerFor]="menu1">
    </button>

    <mat-menu #menu1="matMenu" fxLayout="row" fxLayoutAlign="end start">
      <div class="profile-div">
        <button
          [ngStyle]="{'background-image':'url(' +'../../../assets/avatar.PNG'+ ')','background-size':'cover','width':'75px','height':'75px','margin-left':'53px'}"
          matTooltip="Fundoo Account" mat-mini-fab>
          <div mat-raised-button class="change">change</div>
        </button>
        <div>
          <div class="profileName">
            {{username}}
          </div>
          <div class="profileEmail">
            {{emailId}}
          </div>
        </div>
      </div>
      <button class="signout" mat-flat-button color="primary" (click)="signOut()">
        Sign out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<!--sidenav-->
<mat-sidenav-container class="example-container" autosize>

  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
               (mouseleave)="mouseleave()">
    <mat-nav-list>

      <a routerLink="./note" mat-list-item routerLinkActive="active-list-item">
        <img src="../../../assets/note.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Notes</span>
      </a>

      <a mat-list-item routerLinkActive="active-list-item">
        <img src="../../../assets/notifications_none-24px.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Reminders</span>
      </a>

      <a mat-list-item routerLinkActive="active-list-item">
        <mat-icon style="margin-left: 11px">edit</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Edit labels</span>
      </a>

      <a routerLink="./archive" mat-list-item class="side-nav-list" routerLinkActive="active-list-item">
        <img src="../../../assets/archive-24px.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Archive</span>
      </a>

      <a routerLink="./trash" mat-list-item class="side-nav-list" routerLinkActive="active-list-item">
        <img src="../../../assets/trash.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Trash</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

