<mat-toolbar class="main-div" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-around center"
       class="first-mat-tool-element">
    <button mat-icon-button>
      <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
    </button>
    <img alt="google-keep-logo" class="google-keep-logo" src="../../../assets/google-keep-icon.svg">
    <span class="message-text">Fundoo</span>
  </div>

  <div class="search" fxLayout="row" fxFlex="50">
    <div class="img-icon" fxLayoutAlign="center center">
      <button mat-icon-button>
        <mat-icon id="search" matTooltip="Search">search</mat-icon>
      </button>
    </div>
    <div id="search-text-div" fxLayoutAlign="end end">
      <input id="search-input" type="text" placeholder="Search..."
             [ngModel]="search" (ngModelChange)="searchData($event)"/>
    </div>
  </div>

  <div class="last-toolbar" fxLayout="row">
    <!-- refresh button -->
    <button mat-icon-button *ngIf="isRefresh" (click)="refresh()" id="refresh" matTooltip="refresh">
      <mat-icon id="refresh">refresh</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isRefresh" (click)="refresh()" matTooltip="refresh done">
      <img src="../../../assets/cloud_done-24px%20(1).svg">
    </button>

    <button fxHide.xs="100" mat-icon-button color="basic" id="grid" matTooltip="Grid view">
      <mat-icon id="gridlist">
        <img *ngIf="!isGrid" src="../../../assets/outline-view_agenda-24px.svg" (click)="grid()">
        <img *ngIf="isGrid" src="../../../assets/fourgrid.svg" (click)="grid()">
      </mat-icon>
    </button>

    <div fxLayout="row">
      <img *ngIf="imgUrl!==null" [src]="imgUrl" class="image"
           [matMenuTriggerFor]="menu1">
      <div *ngIf="imgUrl===null" style="margin-left: 10px">
        <ngx-avatar size="40"
                    name="{{userLogin.firstName}}" [matMenuTriggerFor]="menu1">
        </ngx-avatar>
      </div>
    </div>

    <mat-menu #menu1="matMenu" fxLayout="row" fxLayoutAlign="end start" (click)="$event.stopPropagation()">
      <div class="profile-div" fxFlex="column">
        <div>
          <div (click)="$event.stopPropagation()" fxLayout="column">
            <img width="100%" *ngIf="imgUrl!==null" [src]="imgUrl" class="imageSelect"
                 style="background-size: cover;width: 80px;
                                       height: 80px; align-self: center;
                                       border-radius: 41px;
                                       border: 1px solid lightgrey;">
            <div *ngIf="imgUrl===null" style="margin-left:55px">
              <ngx-avatar size="75" name="{{userLogin.firstName}}"></ngx-avatar>
            </div>
            <img src="../../../assets/add_a_photo-24px.svg"
                 (click)="imageSelectFile.click()" style="margin-left: 55px;margin-top:-23px">
          </div>
        </div>
        <div>
          <div class="profileName">
            {{userLogin.email}}
          </div>
          <div class="profileEmail">
            {{userLogin.firstName}} {{userLogin.lastName}}
          </div>
          <input fxHide class="image" type="file" (change)="onSelectFile($event)"
                 #imageSelectFile (click)="$event.stopPropagation()">
          <button class="signout" mat-flat-button color="primary" (click)="signOut()">
            Sign out
          </button>
        </div>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>

<!--sidenav-->
<mat-sidenav-container class="example-container" autosize>

  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
               (mouseleave)="mouseleave()">
    <mat-nav-list>

      <a routerLink="./note" mat-list-item routerLinkActive="active-list-item">
        <img src="../../../assets/note.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Notes</span>
      </a>

      <a routerLink="./reminder-note" mat-list-item routerLinkActive="active-list-item">
        <img src="../../../assets/notifications_none-24px.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Reminders</span>
      </a>

      <mat-nav-list>
        <div *ngFor="let labelData of labelList">
          <a mat-list-item routerLinkActive="active-list-item" (click)="redirectToMapNote(labelData)">
            <mat-icon style="margin-left: 11px">label_outline</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">{{labelData.labelName}}</span>
          </a>
        </div>
      </mat-nav-list>

      <a mat-list-item routerLinkActive="active-list-item" (click)="openLabelPopup()">
        <mat-icon style="margin-left: 11px">edit</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Edit labels</span>
      </a>

      <a routerLink="./archive" mat-list-item class="side-nav-list" routerLinkActive="active-list-item">
        <img src="../../../assets/archive-24px.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Archive</span>
      </a>

      <a routerLink="./trash" mat-list-item class="side-nav-list" routerLinkActive="active-list-item">
        <img src="../../../assets/trash.svg" style="margin-left: 11px">
        <span class="full-width" *ngIf="isExpanded || isShowing">Trash</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

