<div >
  <mat-card class="note-create" fxLayoutAlign="space-between center" fxFlex="60">
    <div data-text="Take a note..." class="border" id="noteTitle" fxLayout="column" contenteditable="true"
         class="maincard">
    </div>
    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button>
        <mat-icon class="icon-take-note" matTooltip="New List">
          <img id="icon" src="../../../assets/check_box-24px.svg"/>
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matTooltip="New note with drawing">
          <img id="icon" src="../../../assets/outline-brush-24px.svg"/>
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matTooltip="New note with image">
          <img id="icon" src="../../../assets/outline-image-24px.svg"/>
        </mat-icon>
      </button>
    </div>
  </mat-card>

</div>


