
.registration-card {
}

.main-content {
  height: auto;
  margin-top: 3%;
  border-radius: 02%;
  border: 1px solid lightgrey;
  box-shadow: 1px 2px #888888;
  display: flex;
  flex-direction: column;
}

.login-form {
  padding: 10px 50px;
}

.fundoo-logo {
  padding-top: 10px;
  width: 30%;
  margin-left: 35%;
  padding-bottom: 10px;
}

.mat-form-field {
  width: 100%;
}

.signin {
  font-weight: 400;
  font-size: 18px;
  font-family: Roboto;
  padding: 3px;
}

.forgot-password {
  color: blue;
  font-weight: 500;
}

.last-div {
  padding-top: 40px;
  margin-bottom: 70px;
}

.register-button {
  color: blue;
  background-color: lightgray;
}

.subtitle-text {
  padding-top: 20px;
  font-size: 15px;
}

.social-login-button {
  border-radius: 3px;
  height: 35px;
  padding: 5px;
  background-color: firebrick;
  color: white;
  border-color: transparent;
}

.profile-div {
  height: 30%;
}
