::ng-deep .menu-panel{
  min-width: 220px
}

.reminder-list{
  width: 250px;
}

.title{
  padding: 5px 0px 15px 15px;
  color: grey;
}

.pick-date-container{
  width: 250px;
}

.timepicker-overlay{
  z-index: 10000000 !important;
}
.timepicker-backdrop-overlay{
  z-index: 10000000 !important;
}


input {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: transparent;
}
input:focus {
  border-color: lightgray;
}
