<mat-card [style.backgroundColor]="note.color" class="note">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="border" fxLayout="column" class="takenote"
         fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100"
         (click)="openNotePopup()">
                <textarea class="textArea" matTextareaAutosize
                          [(ngModel)]="note.title" [style.backgroundColor]="note.color"></textarea>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button class="pin-button" (click)="notePin(note)">
        <mat-icon *ngIf="!note.pin" class="icon-take-note" matTooltip="Pin note">
          <img class="icon" src="../../../assets/unpinbar.svg"/>
        </mat-icon>
        <mat-icon *ngIf="note.pin" class="icon-take-note" matTooltip="Unpin note">
          <img class="icon" src="../../../assets/pinbar.svg"/>
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="border" class="takenote" fxLayout="row" fxLayoutAlign="start start" style="padding-top: 5px"
       (click)="openNotePopup()">
                <textarea class="textArea" style="font-size: 15px" [style.backgroundColor]="note.color"
                          matTextareaAutosize
                          [(ngModel)]="note.description"></textarea>
  </div>
  <app-icons class="note-select"
             (getList)="getList.emit()"
             (getPinList)="getPinList.emit()"
             (getArchiveList)="archiveList.emit()"
             [noteType]="noteType"
             [note]="note"
             (setColor)="getUpdatedValue($event)">
  </app-icons>
</mat-card>

