
.mat-card {
  margin-top: 10px;
  width: 200px;
  border: 1px solid lightgray;
  transition: none !important;
  box-shadow: none !important;
  border-radius: 8px;
}


.border {
  user-select: none;
  border-radius: 30px;
}

.textArea {
  border: none;
  outline: none;
  user-select: none;
  font-family: Roboto;
  font-weight: 400;
}

.takenote {
  color: rgb(173, 166, 166);
  border: none;
  outline: none;
  user-select: none;
}

.note:hover{
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
}

.note-select{
  visibility: hidden;
}

.note:hover .note-select{
  visibility: visible;
}
