<div fxLayout="row" fxLayoutAlign="start center" fxFlex="60" class="icon-div">
  <button mat-icon-button class="icon">
    <mat-icon class="icon-take-note" matTooltip="Remind me" style="padding-left: 0px">
      <img class="icon" class="take-note-icon" src="../../../assets/reminder.svg"/>
    </mat-icon>
  </button>

  <button mat-icon-button class="icon">
    <mat-icon matTooltip="Collaborator">
      <img class="take-note-icon" src="../../../assets/person_add-24px.svg"/>
    </mat-icon>
  </button>

  <button mat-icon-button class="icon" [matMenuTriggerFor]="colorlist">
    <mat-icon matTooltip="Change color">
      <img class="icon" class="take-note-icon" src="../../../assets/color_lens-24px.svg"/>
    </mat-icon>
  </button>

  <mat-menu #colorlist="matMenu" yPosition="above">
    <div fxLayout="row" fxLayoutGap="5px" style="margin: 3px;padding-bottom: 0px" *ngFor="let colors of colorArray">
      <div *ngFor="let color of colors">
        <button
          class="colors"
          [ngStyle]="{ 'background-color': color.color }"
          (click)="colorEdit(color.color,note)"
          matTooltip="{{ color.name}}">
        </button>
      </div>
    </div>
  </mat-menu>

  <button mat-icon-button class="icon">
    <mat-icon matTooltip="Add image">
      <img class="icon" class="take-note-icon" src="../../../assets/outline-image-24px.svg"/>
    </mat-icon>
  </button>

  <button mat-icon-button class="icon" *ngIf="noteType=='note'">
    <mat-icon matTooltip="Archive" (click)="deleteNote('archive')">
      <img class="icon" class="take-note-icon" src="../../../assets/archive-24px.svg"/>
    </mat-icon>
  </button>

  <button mat-icon-button class="icon" *ngIf="noteType=='archive'">
    <mat-icon matTooltip="Unarchive" (click)="deleteNote('archive')">
      <img class="icon" class="take-note-icon" src="../../../assets/unarchive-24px.svg"/>
    </mat-icon>
  </button>

  <button mat-icon-button class="icon" [matMenuTriggerFor]="menu">
    <mat-icon matTooltip="More">
      <img class="icon" class="take-note-icon" src="../../../assets/more_vert-24px.svg"/>
    </mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span (click)="deleteNote('delete')">Delete note</span>
    </button>
    <button mat-menu-item>
      <span>Add label</span>
    </button>
  </mat-menu>
</div>

