.icon {
  opacity: 0.7;
}

.take-note-icon {
  height: 75%;
}

.icon-div {
  padding-top: 10px;
}

.mat-icon-button {
  width: 35px;
}

//color css
.colors {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border-color: lavender;
  outline: none;

}
.colors:hover{
  border-color: grey;

}


::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: navy !important;
}
