<div fxLayout="row" fxLayoutAlign="start center" fxFlex="60" class="icon-div">
  <button mat-icon-button class="icon">
    <mat-icon class="icon-take-note" matTooltip="Remind me" style="padding-left: 0px">
      <img class="icon" class="take-note-icon" src="../../../assets/reminder.svg"/>
    </mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon matTooltip="Collaborator">
      <img  class="take-note-icon" src="../../../assets/person_add-24px.svg"/>
    </mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon matTooltip="Chnage color">
      <img class="icon" class="take-note-icon" src="../../../assets/color_lens-24px.svg"/>
    </mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon matTooltip="Add image">
      <img class="icon" class="take-note-icon" src="../../../assets/outline-image-24px.svg"/>
    </mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon matTooltip="Archieve">
      <img class="icon" class="take-note-icon" src="../../../assets/archive-24px.svg"/>
    </mat-icon>
  </button>
  <button mat-icon-button class="icon" [matMenuTriggerFor]="menu">
    <mat-icon matTooltip="More" >
      <img class="icon" class="take-note-icon" src="../../../assets/more_vert-24px.svg"/>
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Delete note</span>
    </button>
    <button mat-menu-item>
      <span>Add label</span>
    </button>
  </mat-menu>
</div>

