.user-div {
  padding-top: 15px;
}

.user-input {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

input {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: transparent;
  width: 270px;
  font-size: 15px;
}

.button-background {
  background-color: #EEEEEE;
  height: 53px;
}

.button {
  margin-left: 70%;
}


