
.mat-card-subtitle {
  margin-left: -3%;
  font-weight: bold;
  font-size: 10px;
  padding-left: 30px;
}

.main-div {
  margin-bottom: 20px;
}

.main-content{
  padding-top: 30px;
  padding-left: 13%;
  overflow: hidden;
}

.second-content{
  padding-top: 30px;
  padding-left: 13%;
}
