<div class="main-div" fxLayout="column" style="padding-top: 30px">
  <mat-card-subtitle *ngIf="pinNotes.length>0">PINNED</mat-card-subtitle>
  <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px"
       style="justify-content: center;padding: 0px 30px 10px 30px">
    <div *ngFor="let note of pinNotes" style="justify-content: center">
      <app-note [note]="note"
                [noteType]="noteType"
                (getList)="getNoteList.emit()"
                (getPinList)="getPinList.emit()">
      </app-note>
    </div>
  </div>
</div>

<div class="main-div" fxLayout="column">
  <mat-card-subtitle *ngIf="notes.length>0">OTHERS</mat-card-subtitle>
  <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px"
       style="justify-content: center;padding: 0px 30px 10px 30px">

    <div *ngFor="let note of notes" style="justify-content: center">
      <app-note [note]="note" [noteType]="noteType"
                (getList)="getNoteList.emit()"
                (getPinList)="getPinList.emit()">
      </app-note>
    </div>
  </div>
</div>
