<div style="padding-top: 30px; padding-left: 13%; padding-right: 13%; overflow: hidden;">
  <mat-card-subtitle *ngIf="isPinNote> 0" style="margin-bottom: 10px">PINNED</mat-card-subtitle>
  <ngx-masonry [options]="{ gutter: 10 }">
    <div class="grid-note">
      <div ngxMasonryItem class="masonry-item" *ngFor="let note of pinNotes">
        <app-note class="grid-item-note"
                  [note]="note"
                  [noteType]="noteType"
                  (getList)="getNoteList.emit()"
                  (getPinList)="getPinList.emit()">
        </app-note>
      </div>
    </div>
  </ngx-masonry>
</div>

<div style="padding-top: 30px; padding-left: 13%; padding-bottom: 5%; overflow: hidden;">
  <mat-card-subtitle *ngIf="isOtherNote>0">OTHERS</mat-card-subtitle>
  <ngx-masonry [options]="{ gutter: 10 }">
    <div class="grid-note">
      <div ngxMasonryItem class="masonry-item" *ngFor="let note of notes">
        <app-note class="grid-item-note"
                  [note]="note"
                  [noteType]="noteType"
                  (getList)="getNoteList.emit()"
                  (getPinList)="getPinList.emit()">
        </app-note>
      </div>
    </div>
  </ngx-masonry>
</div>
