<mat-dialog-content style="border-radius: 4px"
                    [style.backgroundColor]="note.color">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="border" fxLayout="column" class="takenote">
                <textarea class="textArea" matTextareaAutosize
                          [(ngModel)]="note.title" [style.backgroundColor]="note.color"></textarea>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button class="pin-button">
        <mat-icon *ngIf="!isPin" class="icon-take-note" matTooltip="Pin note" (click)="notePin()">
          <img class="icon" src="../../../assets/unpinbar.svg"/>
        </mat-icon>
        <mat-icon *ngIf="isPin" class="icon-take-note" matTooltip="Unpin note" (click)="notePin()">
          <img class="icon" src="../../../assets/pinbar.svg"/>
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="border" class="takenote" fxLayout="row" fxLayoutAlign="start start" style="padding-top: 5px">
                <textarea class="textArea" style="font-size: 15px"
                          matTextareaAutosize
                          [(ngModel)]="note.description" [style.backgroundColor]="note.color"></textarea>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <app-icons></app-icons>
    <div>
      <button mat-flat-button [mat-dialog-close]="note" [style.backgroundColor]="note.color">Close</button>
    </div>
  </div>


  <mat-dialog-content>


