<app-create-note (getNoteList)="getAllNote()" (getPinList)="getPinNoteList()"></app-create-note>
<app-display-note *ngIf="!isGridView"
                  [notes]="noteList"
                  [pinNotes]="pinNotes"
                  [isOtherNote]="isOtherNote"
                  [isPinNote]="isPinNote"
                  (getNoteList)="getAllNote()"
                  (getPinList)="getPinNoteList()">
</app-display-note>


<app-grid-view-note *ngIf="isGridView"
                    [notes]="noteList"
                    [pinNotes]="pinNotes"
                    [isOtherNote]="isOtherNote"
                    [isPinNote]="isPinNote"
                    (getNoteList)="getAllNote()"
                    (getPinList)="getPinNoteList()">
</app-grid-view-note>

<ngx-spinner
  bdColor="rgba(215,220,227,0.31)"
  size="medium"
  color="#031254"
  type="square-jelly-box"
  fullScreen="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
