<div fxLayoutAlign="space-around center" fxFlex="100">
  <mat-card fxFlex="40" class="main-content" fxFlex.xs="100">
    <img alt="logo" class="fundoo-logo" src="../../../assets/FundooLogo.PNG">
    <mat-card-title class="signin" fxLayoutAlign="center">Account recovery</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center" class="subtitle-text">Enter email for password reset</mat-card-subtitle>

    <form [formGroup]="formEmail" class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email or phone</mat-label>
        <input type="text" matInput placeholder="Email or phone" formControlName="email">
        <mat-error *ngIf="email.errors " [ngClass]="'error'">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.pattern">
            Email not valid.
          </div>
        </mat-error>
      </mat-form-field>

      <div class="last-div" fxLayoutAlign="end" style="padding-top: 20px">
        <button [disabled]="formEmail.invalid" mat-raised-button class="next-button" color="primary">Next</button>
      </div>

    </form>

  </mat-card>
</div>
